body {
    font-family: 'Roboto', sans-serif;
}

* {
    border: 1px solid red;
}
.header {
    display: flex;
    height: 4em;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    font-size: large;
    font-weight: bold;
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    gap: 1em;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    height: 16em;
}

.content-01 {
    font-size: xx-large;
    font-weight: 900;
}

.content-02 {
    max-width: 25em;
    margin: 1em 0;
}

button {
    background-color: #3498db;
    color: white;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em 2em;
}

.content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24em;
    height: 10em;
    background-color: #616a6b;
}

h1 {
    text-align: center;
}

.info {
    display: flex;
    margin: 0;
    padding: 0;
    height: 15em;
    list-style-type: none;
    justify-content: space-evenly;
}

.info-image {
    width: 8em;
    height: 8em;
    border-radius: 0.5em;
    border: 0.2em solid #3498db;
}

.info-text {
    width: 8em;
    text-align: center;
}

.thor {
    background-color: #808080;
    height: 12em;
    display: flex; 
    align-items: center;
}

.quote {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 30em;
    color: white;
    font-size: x-large;
    margin-bottom: 0.5em;
}

.quote-author {
    width: 45em;
    color: white;
    font-weight: 900;
    text-align: right;
}