body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    height: 4em;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    gap: 1em;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 16em;
}

.content-01 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.content-02 {
    max-width: 25em;
    margin: 1em 0;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em 2em;
}

.content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24em;
    height: 10em;
    background-color: #616a6b;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1f2937;
    margin: 1em;
}

.info {
    display: flex;
    margin: 0;
    padding: 0;
    height: 15em;
    list-style-type: none;
    justify-content: space-evenly;
}

.info-image {
    width: 8em;
    height: 8em;
    border-radius: 0.5em;
    border: 0.2em solid #3882f6;
    margin-bottom: 0.3em;
}

.info-text {
    width: 8em;
    text-align: center;
}

.thor {
    background-color: #808080;
    height: 12em;
    display: flex; 
    align-items: center;
}

.quote {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 30em;
    color: white;
    font-size: x-large;
    margin-bottom: 0.5em;
}

.quote-author {
    width: 45em;
    color: white;
    font-weight: 900;
    text-align: right;
}

.call {
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-box {
    height: 8em;
    width: 60em;
    background-color: #3882f6;
    border-radius: 0.5em;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-01 {
    font-weight: 900;
    font-size: larger;
}

.call button {
    border: 0.1em solid white;
    padding: 0.5em 2em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #1f2937;
    color: white;
}